    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% if site.data.settings.seo-title %}
        {{ site.data.settings.seo-title }}
      {% else %}
        {{ site.data.settings.title }}
      {% endif %}
    </title>
    {% if site.data.setting.seo-description %}
    <meta name="description" content="{{ page.description}}" />
    {% endif %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="https://cleverladder.co"> 
    <meta name="twitter:title" content="{{ site.data.settings.seo-title }}">
    <meta name="twitter:description" content="{{ site.data.settings.seo-description }}">
    <meta name="twitter:image" content="assets/img/twitter-card.jpg">
    <meta name="twitter:creator" content="@imtylerporter">


    <meta property="og:title" content="{{ site.data.settings.seo-title }}"/>
    <meta property="og:image" content="assets/img/facebook-og-image.png"/>

    <meta property="og:site_name" content="Clever Ladder, LLC"/>

    <link rel="icon" type="image/png" href="assets/img/{{ site.data.settings.favicon }}" />

    <link rel="stylesheet" href="assets/css/main.css">  
    <script src="https://use.typekit.net/abm3sqm.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script src="https://use.fontawesome.com/bc39896af4.js"></script>