$primary-color: #0e0f0e
$text-color: rgb(110,110,110)
$accent-color: #84c441
$accent-color--light: lighten($accent-color, 20%)
$accent-color--dark: darken($accent-color, 20%)
$grey: #b3bda9
$light-grey: lighten(#b3bda9, 20%)
$dark-grey: darken($grey, 40%)
$bg-color: #fff
$link-color: $accent-color
$selection-color: #FFF498