<section id="about-section">

	<h3 id="about">Who we are</h3>

	<div class="about-sock">
		<p class="about-content"><strong>Clever Ladder is a full service website design & development shop</strong> based out of the Pacific Northwest. We cater to small businesses giving them the necessary tools to showcase their product or service and drive it into the marketplace. Using our 3D process, we create a unique experience that will elevate your mission!</p>	
		<div class="face-unit">
				<img class="about-face" src="assets/img/tyler_porter.jpg">
				<h5>Tyler Porter</h5>
				<em>Lead Developer</em>
		</div>	
	</div>
</section>