    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {% if site.data.settings.seo-title %}
        {{ site.data.settings.seo-title }}
      {% else %}
        {{ site.data.settings.title }}
      {% endif %}
    </title>
    {% if site.data.setting.seo-description %}
      <meta name="description" content="{{ page.description}}" />
    {% endif %}
    <link rel="icon" type="image/png" href="assets/img/{{ site.data.settings.favicon }}" />
    <link rel="stylesheet" href="assets/css/main.css">
    <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
