<section id="process-section">

	<h3 id="process">The Process</h3>

	<div class="process-sock">

		<div class="process-unit">
			<div class="icon-book">{% include icons/book.html %}</div>
			<h4>Discover</h4>
			<p>We dedicate time and resources to begin understanding your needs and overall requirements. Our research will guide us on your overall business & marketing strategy, target audience, competition etc. Our collaboration will involve your input to disclose your requirements and derive a plan of action.</p>
		</div>

		<div class="process-unit">
			<div class="icon-code">{% include icons/code.html %}</div>
				<h4>Develop</h4>
				<p>Upon approval of concept, we begin to move into production. Clever Ladder always uses the best practices and industry standards. We will cleanly code all of your page templates from scratch, fill your website with all of the confirmed imagery and content. Your website will be tested & verified with our teams custom crafted stamp of approval.</p>
			</div>
			<div class="process-unit">
				<div class="icon-throw">{% include icons/throw.html %}</div>
				<h4>Deploy</h4>
				<p>Analytical tools will be set up to help you further your goals defined in the Discover phase. Now let’s remove your current standing website / Under Construction page and “GO LIVE”! At Clever Ladder, we take pride in our product. You will never be left high & dry. We offer a FREE 3 month maintenance package with all of our websites.</p>
			</div>
	</div>

</section>