<section id="special-section">
	<div class="special-sock">
		<h2 class="price">$129/mo</h2>
		<h3>A handcrafted, hassle free website that's custom tailored for your small business without the wait!</h3>
		<pre>WILLAMETTE VALLEY NATIVE</pre>
		<hr class="small-hr">
		<ul>
			<li>WEBSITE DESIGN</li>
			<li>DOMAIN & HOSTING</li>
			<li>FREE CONSULTATION</li>
			<li>99% SECURE</li>
			<li>STATIC SITE, NO DATABASES NEEDED</li>
			<li>WEBSITE MAINTENANCE</li>
			<li>SOCIAL MEDIA INTEGRATION</li>
			<li>WEBSITE MONITORING</li>
			<li>ONE WEEK TURNAROUND<pre>(dependant on fluid collaboration)</pre></li>
		</ul>
		<a href="#contact" class="button special-button">Get started now</a>
	</div>
	<h4>ASK US ABOUT OUR $2500 FULL CUSTOM WEBSITE BUILT TO YOUR NEEDS & OUR $100/mo SOCIAL MEDIA PACKAGE</h4>
</section>
