.service-sock
	max-width: 1180px
	margin: 0 auto
	@media (max-width: 1200px)
		max-width: 920px
	@media (max-width: 960px)
		max-width: 600px
	@media (max-width: 610px)	
		max-width: 380px
	.service-unit
		width: 30%
		+display(inline-block)
		vertical-align: top
		margin: 0 1.5% 30px
		+clearfix
		@media (max-width: 1200px)
			width: 46%
		@media (max-width: 960px)
			width: 96%
		i
			font-size: 2.5em
			color: $accent-color
			float: left
		.service-content
			padding-left: 60px
			float: right
			margin-top: -60px
			h4
				text-transform: uppercase
				font-size: 1.3rem

			p
				font-size: 1.4em
				line-height: 1.7
				color: lighten($primary-color, 20%)